<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>

            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./listado"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a routerLink="./agregar"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon>add</mat-icon>
                <span>Añadir Héroe</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

<router-outlet></router-outlet>
</mat-sidenav-container>
